.attachmentViewerBg {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

.attachmentViewer {
  margin-top: 5rem;
  margin-left: 15vw;
  height: 85vh;
  border-radius: 10px;
  width: 75vw;
  background: white;
  padding: 2rem;
  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.attachmentViewer::-webkit-scrollbar {
  display: none;
}

.loadingOverlay {
  position: fixed;
  top: 20vh;
  left: 30vw;
  width: 35rem;
  /* height: 25rem; */
  padding: 1rem 0;
  height: fit-content;
  background-color: white;
  border-radius: 10px;
  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.loadingOverlay::-webkit-scrollbar {
display: none;
}

.overlayCloseRow {
  float: right;
  margin: 0;
}
.attachmentViewerTitle {
  margin: .5rem;
}

.attachmentViewerCloseButton {
  margin: 1rem;
  padding: .5rem;
}
.overlayContainer {
  text-align: center;
}
.overlayRow {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.overlayRow::-webkit-scrollbar {
  display: none;
}

.overlayListGroup {
  width: 90%;
  margin: 0 auto;
}
.attachmentViewer > iframe {
  display: block;
  width: 90%;
  height: 85%;
  margin: 1rem auto;
}
.overlayListGroupItemText {
  display: inline-block;
  margin: 0 .5rem;
}
