.profilePageContainer {
  margin: 5rem auto 0 auto;
  /* border: 1px solid red; */
  height: 87vh;
  /* position: relative; */
  /* overflow: hidden; */
}
.profilePageContainerCol {
  border: 1px solid purple;
  text-align: center;
}
.profileHeading {
  text-decoration: underline;
}
.headRow {
  /* border: 1px solid blue; */
}
.mainRow {
  /* border: 1px solid green; */
  text-align: center;

}
.mainRow2 {
  /* border: 1px solid blue; */
  text-align: center;
  max-height: 89%;
  overflow: scroll;
  /* width: 90%; */
  margin: 0 auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.mainRow2::-webkit-scrollbar {
  display: none;
}
.specialCol1 {
  padding-top: 2rem;
}
.specialCol2 {
  /* padding-top: 2rem; */
}
.loadingGif {
  height: 3rem;
}
.profileBasicListGroup {
  text-align: left;
  margin: 1rem auto;
}
.listGroupText {
  display: inline-block;
  margin: 0 .5rem;
}
.bold {
  font-weight: bold;
}
.menuSwitch {
  /* margin: .1rem; */
  height: 2rem;
}
.displayPaneHeadRow > * {
  display: inline-block;
  margin: 0 .5rem;
  text-align: center;
}
.displayPaneTitle {
  font-weight: bold;
  text-align: center;
}

/* .FloatMenuCol {
  border: 1px solid black;
  width: 5rem;
  position: absolute;
  z-index: 3;
  left: -1rem;
  top: 2rem;
}
.FloatMenuCol2 {
  border: 1px solid black;
  width: 5rem;
  position: absolute;
  z-indmex: 3;
  left: -1rem;
  bottom: 1rem;
}
.FloatMenuList {
  list-style-type: none;
  padding: 0;
} */

.tabCol {
  margin: .5rem auto;
  width: fit-content;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: 1px solid green;
  border-radius: 3px;
  box-shadow: 0px 7px 15px rgba(20,33,61,.4);
  padding: 1rem;

  /* height: 55vh; */
  height: 70vh;
  overflow: scroll;
}
.tabColDetail {
  height: 80vh;
}
.tabRowSubMenu {
  margin: 0 auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tabRowAppt {
  width: 85%;
}
.subTabCol {
  margin: 1rem auto;
  text-align: center;
}


.topContainer {
  margin: 7vh auto 0;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
