.userSearchCol {

}
.userSearchRow {
  margin: 2rem auto;
}
.results {
  padding-top: 1rem;
}
.searchFormTopDiv {
  margin: 0 auto;
  background-image: linear-gradient(rgba(42,157,143, .6),rgba(233, 196, 106,.6));
  box-shadow: 3px 7px 3px rgba(20,33,61,.4);
  padding: 1rem;
  border-radius: 15px;
}
