.alertBoxOpen {
  margin: .5rem auto;
  width: 23rem;
  max-height: 10rem;
  position: fixed;
  z-index: 10000;
  bottom: 2rem;
  left: 1.5rem;
  overflow-x: scroll;

  /* box-shadow: 3px 7px 3px rgba(20,33,61,.4) */
}
.alertBoxClosed {
  margin: .5rem auto;
  width: 2rem;
  max-height: 2.5rem;
  position: fixed;
  z-index: 10000;
  bottom: 1rem;
  left: 1.5rem;
  overflow-x: scroll;
  box-shadow: 3px 7px 3px rgba(20,33,61,.4)
}
.alert-warning {
  height: 7rem;
  border: 1px solid black;

  box-shadow: 3px 7px 3px rgba(20,33,61,.4)
}

.alertBoxText {
  color: black;
}
.alert {
  margin: 0;
}
.alertIcon {
  /* width: 2rem !important; */
}
