.addressList {
  list-style-type: none;
  padding: 0;
}
.attendanceList {
  list-style-type: none;
  padding: 0;
}
.leaveList {
  list-style-type: none;
  padding: 0;
}
.imageList {
  list-style-type: none;
  padding: 0;
}
.fileList {
  list-style-type: none;
  padding: 0;
}
.appointmentList {
  list-style-type: none;
  padding: 0;
}
.noteList {
  list-style-type: none;
  padding: 0;
}
.userList {
  list-style-type: none;
  padding: 1rem;
  margin: 1rem auto;
  /* background-image: linear-gradient(rgba(42,157,143, .6),rgba(233, 196, 106,.6)); */
  box-shadow: 0px 7px 15px rgba(20,33,61,.4);
  border-radius: 3px;
  border: 1px solid black;
}
.searchUserList {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  width: 80%;
}
