.addressList {
  list-style-type: none;
  padding: 0;
}
.attendanceList {
  list-style-type: none;
  padding: 0;
}
.leaveList {
  list-style-type: none;
  padding: 0;
}
.imageList {
  list-style-type: none;
  padding: 0;
}
.fileList {
  list-style-type: none;
  padding: 0;
}
.appointmentList {
  list-style-type: none;
  padding: 0;
}
.noteList {
  list-style-type: none;
  padding: 0;
}
.userList {
  list-style-type: none;
  padding: 1rem;
  margin: 3rem auto;
}

.searchUserList {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  width: 80%;
}
