.addressList {
  list-style-type: none;
  padding: 0;
}
.attendanceList {
  list-style-type: none;
  padding: 0;
}
.leaveList {
  list-style-type: none;
  padding: 0;
}
.imageList {
  list-style-type: none;
  padding: 0;
}
.fileList {
  list-style-type: none;
  padding: 0;
}
.appointmentList {
  list-style-type: none;
  padding: 0;
}
.noteList {
  list-style-type: none;
  padding: 0;
}
.userList {
  list-style-type: none;
  padding: 0;
  margin: 1.5rem;
}
