.landingPageContainer {
  margin-top: 4rem;
  margin-bottom: 4rem;
  /* border: 1px solid red; */
}
.landingPageRow {
  margin: .5rem;
  box-shadow: 3px 7px 3px rgba(20,33,61,.4);
}
.landingPageCol {
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  padding: 1rem;
  height: 42vh;
  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.landingPageCol::-webkit-scrollbar {
  display: none;
}
.landingPageTopCol {
  text-align: center;
}
