.displayPaneHeadRow > * {
  display: inline-block;
  margin: 0 .5rem;
}
.staffPageContainer {
  margin-top: 4rem;
  /* border: 1px solid red; */
  height: 87vh;
  /* overflow: hidden; */
  max-width: 100% !important;
}
.staffPageContainerCol {
  /* border: 1px solid purple; */

}
.specialCol1 {
  padding-top: 2rem;
}
.specialCol2 {
  /* padding: 0rem 1rem; */
}
.headTopRow {
  box-shadow: 3px 7px 3px rgba(20,33,61,.4);
  padding: .5rem;
  border-radius: 5px;
  border: 1px solid #000000;
}
.ul {
  text-decoration: underline;
  font-style: italic;
}
