.visitList {
  list-style-type: none;
  padding: 1rem;
  margin: 3rem auto;
  /* background-image: linear-gradient(rgba(42,157,143, .6),rgba(233, 196, 106,.6)); */
  box-shadow: 3px 7px 3px rgba(20,33,61,.4);
  border-radius: 3px;
  border: 1px solid black;
}
.calendarTab {
  /* background-color:   rgba(255,255,255,.9); */
  padding: 1rem;
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: 0px 7px 15px rgba(20,33,61,.4);
}
