.listItemHiddenRow {
  margin: 1rem 1rem;
  max-height: 11rem;
  overflow: scroll;
  border: 1px dashed black;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.listItemHiddenRow::-webkit-scrollbar {
  display: none;
}
