.cardText {
  display: inline-block;
  margin: 0 .5rem;
}
.cardBody {
  padding: .7rem;
  text-align: center;
}
.cardBodyHighlighted {
  padding: .7rem;
  text-align: center;
  background-color: rgba(255,209,102,.7);
}
.car
.bold {
  font-weight: bold;
}
.listIcon {
  margin: 0 1rem;
}
.listItemHiddenRow {
  margin: 1rem 1rem;
  max-height: 11rem;
  overflow: scroll;
  border: 1px dashed black;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.listItemHiddenRow::-webkit-scrollbar {
  display: none;
}
