.displayPaneHeadRow > * {
  margin: .5rem auto !important;
}
.patientSubListCol {

}
.patientSubListRow {
  margin: 0 auto
}
.patientSublistSearchBtn {
  margin: 1rem auto;
}
.userSearchRow {
  padding: 0;
  margin: 0;
}
.centered_btn {
  margin: 1rem auto;
}
.fc-unthemed td.fc-today {
  background-color: coral;
}
